Flask
flask-cors
gunicorn
pinecone-client
python-dotenv
langchain-groq
sentence-transformers
requests
urllib3
transformers
torch
scikit-learn
numpy
scipy
pydantic
huggingface-hub
tqdm
filelock
fsspec
packaging
pillow
tenacity
jsonpatch
orjson
httpx
httpcore
sniffio
anyio
